
/*
 * IBM Plex Mono
 */
@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IBMPlex-Mono/IBMPlexMono-Medium.ttf") format('ttf');
}

@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IBMPlex-Mono/IBMPlexMono-Medium.woff2") format('woff2');
}


/*
 * IBM Plex Sans
 */
@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlex-Sans/IBMPlexSans-Light.woff2') format('woff2'),
       url('../fonts/IBMPlex-Sans/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src:
       url('../fonts/IBMPlex-Sans/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src:
       url('../fonts/IBMPlex-Sans/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src:
       url('../fonts/IBMPlex-Sans/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlex-Sans/IBMPlexSans-Bold.woff2') format('woff2'),
       url('../fonts/IBMPlex-Sans/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}








