.icon {
  font-family: 'Material Icons';
  font-weight: 100;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: var(--accent);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  margin-right: var(--xs);
  vertical-align: sub;
}

.icon.s { font-size: var(--s); }
.icon.m { font-size: var(--m); }
.icon.l { font-size: var(--l); }
.icon.xl { font-size: var(--xl); }
