///// Font Imports /////
@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlex-Sans/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlex-Sans/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('../fonts/IBMPlex-Mono/IBMPlexMono-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}